<section class="slide-wrapper">
    <div class="container">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
             </ol>

            <i class="scroll-down-arrow glyphicon glyphicon-chevron-down animated infinite"></i>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item item1 active">
                    <div class="fill" style="background-color:#222;">
                        <div class="inner-content">
                            <div class="carousel-img">
                              <iframe src="https://player.vimeo.com/video/185054030" class="embed-responsive-item videoTarget img img-responsive" frameborder="0"></iframe>
                            </div>
                            <div class="carousel-desc">

                                <h2>Print your Emotions</h2>
                                <p style="margin-top: 15px;">It has never been easier to print your favourite pictures. <br/>
                                  In only 3 step you can have a can have a full memory printed in your favourite format.</p>
                                <br />
                                <br />
                                <h3>Scroll down to see more</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="fill"  style=" background: url(<%= asset_path("wood-pattern-background.jpg") %>)">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="<%= asset_path("wood-frame.png") %>" alt="Wood Frame" title="Wood Frame" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">

                                <h2>Wooden Frames</h2>
                                <a href="<%=  category_path(1)%>">Check them out</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="fill" style="background-color:#000;">
                        <div class="inner-content">
                          <div class="col-md-6 frame-image">

                              <div class="carousel-img">
                                  <img src="<%= asset_path("black-frame.png") %>" alt="Black Frame" title="Black Frame" class="img img-responsive" />
                              </div>
                          </div>
                          <div class="col-md-6 text-left">
                              <div class="carousel-desc">

                                  <h2>Black Frames</h2>
                                  <a href="<%=  category_path(2)%>">Check them out</a>

                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="item item4">
                    <div class="fill" style="background-color:#FFF; color: black;">
                        <div class="inner-content">
                            <div class="col-md-6">
                                <div class="carousel-img">
                                    <img src="<%= asset_path("white-frame.png") %>" alt="White Frame" title="White Frame" class="img img-responsive" />
                                </div>
                            </div>

                            <div class="col-md-6 text-left">
                                <div class="carousel-desc" style=" color: black;">

                                    <h2>White Frames</h2>
                                    <a href="<%= category_path(3) %>">Check them out</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
